<ul class="footer__item-list footer__item-list_{{ group }}">
    {% for key, value in header %}
        <li class="footer__item-header">
            <a class="footer__item-header-link" href="#" title="{{ value }}">{{ key }}</a>
        </li>
    {% endfor %}
    {% for key, value in items %}
        <li class="footer__item">
            <a class="footer__item-link" href="#" title="{{ value }}">{{ key }}</a>
        </li>
    {% endfor %}
</ul> {# TODO: Придумать что-нибудь со ссылками href в цикле#}