<section class="scroller{% if sectionAdditionalClass %} {{ sectionAdditionalClass }}{% endif %}"
  {% if dataDirection %}
    data-direction="{{ dataDirection }}"
  {% endif %}
  {% if dataSpeed %}
    data-speed="{{ dataSpeed }}"
  {% endif %}
>
  <ul class="scroller__inner{% if listAdditionalClass %} {{ listAdditionalClass }}{% endif %}">
    {% for i, item in items %}
      <li class="scroller__item{% if itemAdditionalClass %} {{ itemAdditionalClass }}{% endif %}">
        {{ item }}
      </li>
    {% endfor %}
  </ul>
</section>
